{% extends "base.html" %}
{% block content %}
<main>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Информация о компании</h1>
        <p class="col-md-8 fs-4">ООО "ПО "Высота" производит и поставляет кран-балки, мостовые и козловые краны, тали, электротали, электротельферы от ведущих крановых заводов России, Болгарии, Германии по ценам производителя. Квалифицированные сотрудники компании, работающие на рынке подъемно-транспортного оборудования с 1999 года, помогут подобрать оборудование с необходимыми техническими характеристиками и заказать с доставкой:
          <br>Мостовые двухбалочные краны
            <br>- Электрические кран-балки
            <br>- Ручные кран-балки
            <br>- Тали, тельферы производства Болгария
            <br>- Перегрузочные мобильные устройства
            <br>- Опорные кран-балки
            <br>- Подвесные кран-балки
            <br>- Шестеренные тали
        </p>
          <h1 class="display-5 fw-bold">Предоставляемые услуги</h1>
        <p class="col-md-8 fs-4">Наша организация за годы работы на рынке грузоподъемного оборудования зарекомендовала себя как надежный партнер, выполняющий по желанию заказчика работы по подбору и поставке грузоподъемного оборудования, работы по установке грузоподъемного оборудования "под ключ". Для постоянных заказчиков предусмотрена гибкая система скидок. Мы рады видеть Вас в числе наших партнёров.
          <br>- Подбор вариантов оборудования оптимального по цене, качеству, срокам и техническим характеристикам для решения стоящей перед Вами задачи по подъему и перемещению грузов.
            <br>- Монтаж мостовых кранов (кран-балок).
            <br>- Логистические схемы, для снижения Ваших расходов по доставке оборудования до Вашей площадки.
            <br>- Квалифицированные консультации по любым вопросам о кранах, кран-балках и талях.
            <br>- Проектирование, изготовление и монтаж подкрановых путей.
            <br>- Работы производим на всей территории России и СНГ.
            <br>- Большой опыт работы. Более 20 лет на рынке грузоподъёмного оборудования.
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}