{% extends "base.html" %}
{% load static %}
{% block content %}
<main>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Контактная информация</h1>
        <p class="col-md-8 fs-4">Адрес: 199004, г. Санкт-Петербург, 2 Линия В. О., д. 37, лит. А, пом. 1-Н, оф. 217
          <br>+7 (812) 495-66-10
          <br>+7 (812) 938-33-68
          <br>Время работы: с 9-30 до 18-00
          <br>sales@vysota-kran.ru
        </p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Офис на карте</h2>
          <img class="" src="{% static 'image/map.png' %}">
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Адрес склада</h2>
          <p>Россия, Ленинградская область, Всеволожский район, д. Лепсари, Склад ООО "ПО "Высота"
            <br>+7-911-222-11-55 Иванов Иван Иванович.</p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}